# max() and min() functions

In [ ]:
1. max()
2. min()

## 1. max()

In [6]:
str_var_1 = 'Rama Suresh Vijjana'
str_var_2 = '8309995547242412444'

list_var_1 = [1, 54, 8, 23, 4, 6, 9]
list_var_2 = ['Rama', 'Suresh', 'Eswar', 'Anand', 'Naveen']

tuple_var_1 = (1, 54, 8, 23, 4, 78, 9)
tuple_var_2 = ('Rama', 'Suresh', 'Eswar', 'Anand', 'Naveen')

set_var_1 = {1, 54, 76546364, 23, 4, 6, 9}
set_var_2 = {'Rama', 'Suresh', 'Eswar', 'Anand', 'Naveen'}

dict_var_1 = {1: 4, 54: 5, 8: 7, 23: 4, 4: 33, 6: 45}
dict_var_2 = {'Rama': 24, 'Suresh': 23, 'Eswar': 25, 'Anand': 20, 'Naveen': 24}

all_vars = [str_var_1, str_var_2, list_var_1, list_var_2, tuple_var_1, tuple_var_2, \
            set_var_1, set_var_2, dict_var_1, dict_var_2]

In [7]:
def max_val(arg):
        print(f'Type: {type(arg)} \n{max(arg)}\n=====================')
        
for arg in all_vars:
    max_val(arg)

Type: <class 'str'>
u
=====================
Type: <class 'str'>
9
=====================
Type: <class 'list'>
54
=====================
Type: <class 'list'>
Suresh
=====================
Type: <class 'tuple'>
78
=====================
Type: <class 'tuple'>
Suresh
=====================
Type: <class 'set'>
76546364
=====================
Type: <class 'set'>
Suresh
=====================
Type: <class 'dict'>
54
=====================
Type: <class 'dict'>
Suresh
=====================

## 2. min()

In [8]:
def max_val(arg):
        print(f'Type: {type(arg)} \n{min(arg)}\n=====================')
        
for arg in all_vars:
    max_val(arg)

Type: <class 'str'>

=====================
Type: <class 'str'>
0
=====================
Type: <class 'list'>
1
=====================
Type: <class 'list'>
Anand
=====================
Type: <class 'tuple'>
1
=====================
Type: <class 'tuple'>
Anand
=====================
Type: <class 'set'>
1
=====================
Type: <class 'set'>
Anand
=====================
Type: <class 'dict'>
1
=====================
Type: <class 'dict'>
Anand
=====================