# Perform the concatenate using +

In [ ]:
1. Itselfe concatenation using +
2. concatenate with other iterables using +

In [12]:
def vals():
    
    str_var = 'Rama Suresh Vijjana'
    
    list_var = [1, 54, 8, 23, 4, 6, 9]
    
    tuple_var = (1, 54, 8, 23, 4, 6, 9)
    
    set_var = {1, 54, 8, 23, 4, 6, 9}
    
    dict_var = {1: 4, 54: 5, 8: 7, 23: 4, 4: 33, 6: 45}
    
    all_vars = [str_var, list_var, tuple_var, set_var, dict_var]
    return all_vars

## 1. Itselfe concatenation using +

In [13]:
def itselfe_cnct(arg):
    typ = type(arg)
    try:
        cnct_val = arg + arg
        print(f'Type: {typ} \n{cnct_val}')
    except Exception as e:
        print(f'{typ} to {typ} concatenation not possible using + \n {e}')
    finally:
        print('==========================================')

In [14]:
all_vals = vals()
for i in all_vals:
    itselfe_cnct(i)

Type: <class 'str'>
Rama Suresh VijjanaRama Suresh Vijjana
==========================================
Type: <class 'list'>
[1, 54, 8, 23, 4, 6, 9, 1, 54, 8, 23, 4, 6, 9]
==========================================
Type: <class 'tuple'>
(1, 54, 8, 23, 4, 6, 9, 1, 54, 8, 23, 4, 6, 9)
==========================================
<class 'set'> to <class 'set'> concatenation not possible using +
 unsupported operand type(s) for +: 'set' and 'set'
==========================================
<class 'dict'> to <class 'dict'> concatenation not possible using +
 unsupported operand type(s) for +: 'dict' and 'dict'
==========================================

## 2. concatenate with other iterables using +

In [21]:
def cnct_with_others(arg1, arg2):
    typ1, typ2 = type(arg1), type(arg2)
    try:
        cnct_val = arg1 + arg2
        print(f'Type: {typ1} and {typ2} \n{cnct_val}')
    except Exception as e:
        print(f'{typ1} to {typ2} concatenation not possible using + \n {e}')
    finally:
        print('==============================================')

In [22]:
for i in all_vals:
    for j in all_vals:
        cnct_with_others(i, j)
    print('=================================================\n\n\n')

Type: <class 'str'> and <class 'str'>
Rama Suresh VijjanaRama Suresh Vijjana
==============================================
<class 'str'> to <class 'list'> concatenation not possible using +
 can only concatenate str (not "list") to str
==============================================
<class 'str'> to <class 'tuple'> concatenation not possible using +
 can only concatenate str (not "tuple") to str
==============================================
<class 'str'> to <class 'set'> concatenation not possible using +
 can only concatenate str (not "set") to str
==============================================
<class 'str'> to <class 'dict'> concatenation not possible using +
 can only concatenate str (not "dict") to str
==============================================
=================================================



<class 'list'> to <class 'str'> concatenation not possible using +
 can only concatenate list (not "str") to list
==============================================
Type: <class 'list'> and <class 'list'>
[1, 54, 8, 23, 4, 6, 9, 1, 54, 8, 23, 4, 6, 9]
==============================================
<class 'list'> to <class 'tuple'> concatenation not possible using +
 can only concatenate list (not "tuple") to list
==============================================
<class 'list'> to <class 'set'> concatenation not possible using +
 can only concatenate list (not "set") to list
==============================================
<class 'list'> to <class 'dict'> concatenation not possible using +
 can only concatenate list (not "dict") to list
==============================================
=================================================



<class 'tuple'> to <class 'str'> concatenation not possible using +
 can only concatenate tuple (not "str") to tuple
==============================================
<class 'tuple'> to <class 'list'> concatenation not possible using +
 can only concatenate tuple (not "list") to tuple
==============================================
Type: <class 'tuple'> and <class 'tuple'>
(1, 54, 8, 23, 4, 6, 9, 1, 54, 8, 23, 4, 6, 9)
==============================================
<class 'tuple'> to <class 'set'> concatenation not possible using +
 can only concatenate tuple (not "set") to tuple
==============================================
<class 'tuple'> to <class 'dict'> concatenation not possible using +
 can only concatenate tuple (not "dict") to tuple
==============================================
=================================================



<class 'set'> to <class 'str'> concatenation not possible using +
 unsupported operand type(s) for +: 'set' and 'str'
==============================================
<class 'set'> to <class 'list'> concatenation not possible using +
 unsupported operand type(s) for +: 'set' and 'list'
==============================================
<class 'set'> to <class 'tuple'> concatenation not possible using +
 unsupported operand type(s) for +: 'set' and 'tuple'
==============================================
<class 'set'> to <class 'set'> concatenation not possible using +
 unsupported operand type(s) for +: 'set' and 'set'
==============================================
<class 'set'> to <class 'dict'> concatenation not possible using +
 unsupported operand type(s) for +: 'set' and 'dict'
==============================================
=================================================



<class 'dict'> to <class 'str'> concatenation not possible using +
 unsupported operand type(s) for +: 'dict' and 'str'
==============================================
<class 'dict'> to <class 'list'> concatenation not possible using +
 unsupported operand type(s) for +: 'dict' and 'list'
==============================================
<class 'dict'> to <class 'tuple'> concatenation not possible using +
 unsupported operand type(s) for +: 'dict' and 'tuple'
==============================================
<class 'dict'> to <class 'set'> concatenation not possible using +
 unsupported operand type(s) for +: 'dict' and 'set'
==============================================
<class 'dict'> to <class 'dict'> concatenation not possible using +
 unsupported operand type(s) for +: 'dict' and 'dict'
==============================================
=================================================