# Set Properties

=> Unordered  
=> Unchangeable.  
=> Duplicates not allow.  
=> Allow all data types.  
=> immutable.  
=> Set doesn't has intering property.

### Unordered
=> Unordered means that the items in a set do not have a defined order.  
=> Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

In [17]:
set_var = {'shushanth', 'Hima', 'Varun', 'Chinnu'}
print(set_var)

for name in set_var:
    print(name)

{'shushanth', 'Varun', 'Chinnu', 'Hima'}
shushanth
Varun
Chinnu
Hima

### Unchangeable
=> Sets are unchangeable, meaning that we cannot change the items after the set has been created.  
=> Once a set is created, you cannot change its items, but you can add new items

### Duplicates not allow.

=> In this case, it will not give an error but the set automatically removes duplicates.  
=> In this case, it will not give an error but the set will not add duplicates.

In [18]:
# Try to create a set with duplicates

set_var_1 = {'shushanth', 'Hima', 'Varun', 'Chinnu', 'Chinnu'}
print(set_var_1)

# In this case, it will not give an error but the set automatically removes duplicates.

{'shushanth', 'Varun', 'Chinnu', 'Hima'}

In [19]:
# Try to add a duplicate to existed set.

set_var_1.add('Varun')
print(set_var_1)

# In this case, it will not give an error but the set will not add duplicates.

{'shushanth', 'Varun', 'Chinnu', 'Hima'}

 ### Allow all data types.

In [20]:
# Creating the set variable with different data types.

set_var_2 = {'Rama', 24, 02.1997, 3+26j, True}
print(set_var_2)

{True, 2.1997, (3+26j), 'Rama', 24}

### Immutable.

In [22]:

set_var_3 ={'Rama', 45}
print('Before reinitialization address:      {}'.format(id(set_var_3)))
set_var_3 ={'Rama', 45, 678}
print('After reinitialization address:       {}'.format(id(set_var_3)))

Before reinitialization address:      2253183247744
After reinitialization address:       2253183246400

### Set doesn't has intering

In [23]:
set_var_4 ={'Rama', 26, 2, 1997}
set_var_5 ={'Rama', 26, 2, 1997}

print(id(set_var_4))
print(id(set_var_5))

2253183246624
2253183217728