# Reverse The Sequels Data Types

In [1]:
def vals():
    
    str_var_1 = 'Rama Suresh Vijjana'
    str_var_2 = '8309995547242412444'
    
    list_var_1 = [1, 54, 8, 23, 4, 6, 9]
    list_var_2 = ['Rama', 'Suresh', 'Eswar', 'Anand', 'Naveen']
    
    tuple_var_1 = (1, 54, 8, 23, 4, 6, 9)
    tuple_var_2 = ('Rama', 'Suresh', 'Eswar', 'Anand', 'Naveen')
    
    set_var_1 = {1, 54, 8, 23, 4, 6, 9}
    set_var_2 = {'Rama', 'Suresh', 'Eswar', 'Anand', 'Naveen'}
    
    dict_var_1 = {1: 4, 54: 5, 8: 7, 23: 4, 4: 33, 6: 45}
    dict_var_2 = {'Rama': 24, 'Suresh': 23, 'Eswar': 25, 'Anand': 20, 'Naveen': 24}
    
    all_vars = [str_var_1, str_var_2, list_var_1, list_var_2, tuple_var_1, tuple_var_2, \
                set_var_1, set_var_2, dict_var_1, dict_var_2]
    return all_vars

## 1. Using x[::-1]

In [2]:
all_vars = vals()
def rvrs(arg):
    try:   
        print(arg[::-1])
        
    except Exception as e:
        print(e)
    finally:
        print('=========================================================')
    
for i in all_vars:
    rvrs(i)

anajjiV hseruS amaR
=========================================================
4442142427455999038
=========================================================
[9, 6, 4, 23, 8, 54, 1]
=========================================================
['Naveen', 'Anand', 'Eswar', 'Suresh', 'Rama']
=========================================================
(9, 6, 4, 23, 8, 54, 1)
=========================================================
('Naveen', 'Anand', 'Eswar', 'Suresh', 'Rama')
=========================================================
'set' object is not subscriptable
=========================================================
'set' object is not subscriptable
=========================================================
unhashable type: 'slice'
=========================================================
unhashable type: 'slice'
=========================================================

## 2. Using reversed()

In [3]:
all_ = vals()
def rvrs(arg):
    try:
        type_var = type(arg)
        rvr = reversed(arg)
        if type_var == str:
            rvr = ''.join(rvr)
        print(f'Type: {type_var} \n{type_var(rvr)}')
        
    except Exception as e:
        print(e)
    finally:
        print('=========================================================')
    
for i in all_:
    rvrs(i)

Type: <class 'str'>
anajjiV hseruS amaR
=========================================================
Type: <class 'str'>
4442142427455999038
=========================================================
Type: <class 'list'>
[9, 6, 4, 23, 8, 54, 1]
=========================================================
Type: <class 'list'>
['Naveen', 'Anand', 'Eswar', 'Suresh', 'Rama']
=========================================================
Type: <class 'tuple'>
(9, 6, 4, 23, 8, 54, 1)
=========================================================
Type: <class 'tuple'>
('Naveen', 'Anand', 'Eswar', 'Suresh', 'Rama')
=========================================================
'set' object is not reversible
=========================================================
'set' object is not reversible
=========================================================
cannot convert dictionary update sequence element #0 to a sequence
=========================================================
dictionary update sequence element #0 has length 6; 2 is required
=========================================================