# Tuple properties
=> Tuple is iterable.  
=> Tuple items are ordered.  
=> Unchangeable.  
=> Allow duplicate values.  
=> Allow all data types.  
=> Tuple is immutable.  
=> Tuple don't have intering property.

### Tuple is iterable.

In [2]:
# We can iterate the tuple directly in loops.
tuple_var_1 = ('Naveen', 'Eswar', 'Anand')

for name in tuple_var_1:
    print(name)

Naveen
Eswar
Anand

### Tuple items are ordered.

=> Tuple elements are ordered.  
=> Index number start from 0.

In [5]:
for name in tuple_var_1:
    print('Index no: ', tuple_var_1.index(name), '          value is: ', name)

Index no:  0           value is:  Naveen
Index no:  1           value is:  Eswar
Index no:  2           value is:  Anand

### Unchangeable.

=> We can not change or add or remove the values of tuple.

### Allow duplicate values.

In [2]:
# Create a tuple with some duplicate values.
tuple_var_2 = (22,45,78,44,22,45)

print(tuple_var_2)

(22, 45, 78, 44, 22, 45)

### Allow all data types.

In [11]:
# Create a tuple with a different types of data values.
tuple_diff_data = ('Suresh vj', 98, 26, 5.1997, True, 26+2j)

print(tuple_diff_data)

('Suresh vj', 98, 26, 5.1997, True, (26+2j))

### Tuple is immutable

In [2]:
tuple_var_3 = (33, 66, 55)
print(id(tuple_var_3))
print(id(tuple_var_3[0]))

tuple_var_3 = (23, 66, 55, 45)
print(id(tuple_var_3))
print(id(tuple_var_3[0]))

1343819374400
140720101866272
1343819419792
140720101865952

### Tuple don't have intering property.

In [14]:
tuple_var_4 = (33, 66, 5, 5)
tuple_var_5 = (33, 66, 5, 5)

print(id(tuple_var_4))
print(id(tuple_var_5))

2283503611632
2283504869760