# TYPE CASTING

In [ ]:

1. Type-casting is a process of converting one data type to another data type.  
2. Converting into int or float or string are comes under basic level type-casting.  
3. The in-depth of this concept we can learning after inheritance topic, But up to now focus on basic only.  
4. Casting in python is done by using constructor functions.

## Convert in to integer

In [ ]:

=> The int() constructor is used to convert into int.

In [6]:
int_conv = int(2)
print('value is: ', int_conv, '        Type is: ', type(int_conv))

float_conv = int(98.45)
print('value is: ', float_conv, '       Type is: ', type(float_conv))

str_conv = int('26')
print('value is: ', str_conv, '       Type is: ', type(str_conv))

bool_conv = int(True)
print('value is: ', bool_conv, '       Type is: ', type(bool_conv))

# NOT WORKING WAYS
# wron_way = int('MATHS')  ----------------->   ValueError: invalid literal for int() with base 10: 'MATHS'
# complex_conv = int(5+4j)

value is:  2         Type is:  <class 'int'>
value is:  98        Type is:  <class 'int'>
value is:  26        Type is:  <class 'int'>
value is:  1        Type is:  <class 'int'>

## Convert in to float

=> The float() constructor is used to convert into float.

In [10]:
int_flt_conv = float(5)
print('value is: ', int_flt_conv, '        Type is: ', type(int_flt_conv))

flt_flt_conv = float(5.98)
print('value is: ', flt_flt_conv, '       Type is: ', type(flt_flt_conv))

str1_flt_conv = float('78')
print('value is: ', str1_flt_conv, '       Type is: ', type(str1_flt_conv))

str2_flt_conv = float('34.09')
print('value is: ', str2_flt_conv, '      Type is: ', type(str2_flt_conv))

bool_conv = float(True)
print('value is: ',bool_conv, '        Type is: ', type(bool_conv))

# NOT WORKING WAYS
# wron_way = float('MATHS')  ----------------->   ValueError: could not convert string to float: 'MATHS'

value is:  5.0         Type is:  <class 'float'>
value is:  5.98        Type is:  <class 'float'>
value is:  78.0        Type is:  <class 'float'>
value is:  34.09       Type is:  <class 'float'>
value is:  1.0         Type is:  <class 'float'>

## Convert in to string

In [ ]:
=> The string() constructor is used to convert into string.

In [22]:
int_str_conv = str(54)
print('value is: ', int_str_conv, '   Type is: ', type(int_str_conv))

float_str_conv = str(56.09)
print('value is: ', float_str_conv, '       Type is: ', type(float_str_conv))

str_str_conv = str('VJ')
print('value is: ', str_str_conv, '          Type is: ', type(str_str_conv))

boolean_str_conv = str(True)
print('value is: ', boolean_str_conv, '        Type is: ', type(boolean_str_conv))

cmx_conv = str(4+5j)
print('value is: ', cmx_conv, '        Type is: ', type(cmx_conv))

list_conv = str([4+5j, 6, 8])
print('value is: ', list_conv, '      Type is: ', type(list_conv))

tuple_conv = str((4+5j, 9, 7, 6.9))
print('value is: ', tuple_conv, '      Type is: ', type(tuple_conv))

set_conv = str({4+5j, 4,7,9})
print('value is: ', set_conv, '      Type is: ', type(set_conv))

dict_conv = str({1: 4+5j, 'name': 'Rama'})
print('value is: ', dict_conv, '      Type is: ', type(dict_conv))

value is:  54    Type is:  <class 'str'>
value is:  56.09        Type is:  <class 'str'>
value is:  VJ           Type is:  <class 'str'>
value is:  True         Type is:  <class 'str'>
value is:  (4+5j)         Type is:  <class 'str'>
value is:  [(4+5j), 6, 8]       Type is:  <class 'str'>
value is:  ((4+5j), 9, 7, 6.9)       Type is:  <class 'str'>
value is:  {9, (4+5j), 4, 7}       Type is:  <class 'str'>
value is:  {1: (4+5j), 'name': 'Rama'}       Type is:  <class 'str'>

## Convert Into Boolean

In [4]:
def bool_conv(arg):
    try:
        bool_val = bool(arg)
        print(f'value is: {arg}     ---> {bool_val}      Type is: {type(bool_val)}')
    except e:
        print(e)
    
all_vals = [1, 0, 0b000, 0b1001011, 23, 34.567, 'Suresh', True, False, 4+5j, [2,3], (3,4), {5,6}, {'A': 3, 'B': 4}]

for i in all_vals:
    bool_conv(i)

value is: 1     ---> True      Type is: <class 'bool'>
value is: 0     ---> False      Type is: <class 'bool'>
value is: 0     ---> False      Type is: <class 'bool'>
value is: 75     ---> True      Type is: <class 'bool'>
value is: 23     ---> True      Type is: <class 'bool'>
value is: 34.567     ---> True      Type is: <class 'bool'>
value is: Suresh     ---> True      Type is: <class 'bool'>
value is: True     ---> True      Type is: <class 'bool'>
value is: False     ---> False      Type is: <class 'bool'>
value is: (4+5j)     ---> True      Type is: <class 'bool'>
value is: [2, 3]     ---> True      Type is: <class 'bool'>
value is: (3, 4)     ---> True      Type is: <class 'bool'>
value is: {5, 6}     ---> True      Type is: <class 'bool'>
value is: {'A': 3, 'B': 4}     ---> True      Type is: <class 'bool'>

## Convert Into Complex

In [33]:
def complex_conv(arg):
    try:
        bool_val = complex(arg)
        print(f'value is: {arg}     ---> {bool_val}      Type is: {type(bool_val)}')
    except Exception as e:
        print(e)
    
all_vals = [23, 'j', 34.567, 1, 0, True, False, 4+5j, 'Suresh', [2,3], (3,4), {5,6}, {'A': 3, 'B': 4}]

for i in all_vals:
    complex_conv(i)

value is: 23     ---> (23+0j)      Type is: <class 'complex'>
value is: j     ---> 1j      Type is: <class 'complex'>
value is: 34.567     ---> (34.567+0j)      Type is: <class 'complex'>
value is: 1     ---> (1+0j)      Type is: <class 'complex'>
value is: 0     ---> 0j      Type is: <class 'complex'>
value is: True     ---> (1+0j)      Type is: <class 'complex'>
value is: False     ---> 0j      Type is: <class 'complex'>
value is: (4+5j)     ---> (4+5j)      Type is: <class 'complex'>
complex() arg is a malformed string
complex() first argument must be a string or a number, not 'list'
complex() first argument must be a string or a number, not 'tuple'
complex() first argument must be a string or a number, not 'set'
complex() first argument must be a string or a number, not 'dict'

## Convert Into List

In [34]:
def list_conv(arg):
    try:
        bool_val = list(arg)
        print(f'value is: {arg}     ---> {bool_val}      Type is: {type(bool_val)}')
    except Exception as e:
        print(e)
    
all_vals = [23, 'j', 34.567, 1, 0, True, False, 4+5j, 'Suresh', [2,3], (3,4), {5,6}, {'A': 3, 'B': 4}]

for i in all_vals:
    list_conv(i)

'int' object is not iterable
value is: j     ---> ['j']      Type is: <class 'list'>
'float' object is not iterable
'int' object is not iterable
'int' object is not iterable
'bool' object is not iterable
'bool' object is not iterable
'complex' object is not iterable
value is: Suresh     ---> ['S', 'u', 'r', 'e', 's', 'h']      Type is: <class 'list'>
value is: [2, 3]     ---> [2, 3]      Type is: <class 'list'>
value is: (3, 4)     ---> [3, 4]      Type is: <class 'list'>
value is: {5, 6}     ---> [5, 6]      Type is: <class 'list'>
value is: {'A': 3, 'B': 4}     ---> ['A', 'B']      Type is: <class 'list'>

## Convert Into Tuple

In [35]:
def tuple_conv(arg):
    try:
        bool_val = tuple(arg)
        print(f'value is: {arg}     ---> {bool_val}      Type is: {type(bool_val)}')
    except Exception as e:
        print(e)
    
all_vals = [23, 'j', 34.567, 1, 0, True, False, 4+5j, 'Suresh', [2,3], (3,4), {5,6}, {'A': 3, 'B': 4}]

for i in all_vals:
    tuple_conv(i)

'int' object is not iterable
value is: j     ---> ('j',)      Type is: <class 'tuple'>
'float' object is not iterable
'int' object is not iterable
'int' object is not iterable
'bool' object is not iterable
'bool' object is not iterable
'complex' object is not iterable
value is: Suresh     ---> ('S', 'u', 'r', 'e', 's', 'h')      Type is: <class 'tuple'>
value is: [2, 3]     ---> (2, 3)      Type is: <class 'tuple'>
value is: (3, 4)     ---> (3, 4)      Type is: <class 'tuple'>
value is: {5, 6}     ---> (5, 6)      Type is: <class 'tuple'>
value is: {'A': 3, 'B': 4}     ---> ('A', 'B')      Type is: <class 'tuple'>

## Convert Into Set

In [37]:
def set_conv(arg):
    try:
        bool_val = set(arg)
        print(f'value is: {arg}     ---> {bool_val}      Type is: {type(bool_val)}')
    except Exception as e:
        print(e)
    
all_vals = [23, 'j', 34.567, 1, 0, True, False, 4+5j, 'Suresh', [2,3], (3,4), {5,6}, {'A': 3, 'B': 4}]

for i in all_vals:
    set_conv(i)

'int' object is not iterable
value is: j     ---> {'j'}      Type is: <class 'set'>
'float' object is not iterable
'int' object is not iterable
'int' object is not iterable
'bool' object is not iterable
'bool' object is not iterable
'complex' object is not iterable
value is: Suresh     ---> {'h', 'u', 'S', 'r', 's', 'e'}      Type is: <class 'set'>
value is: [2, 3]     ---> {2, 3}      Type is: <class 'set'>
value is: (3, 4)     ---> {3, 4}      Type is: <class 'set'>
value is: {5, 6}     ---> {5, 6}      Type is: <class 'set'>
value is: {'A': 3, 'B': 4}     ---> {'B', 'A'}      Type is: <class 'set'>

## Convert Into Dict

In [38]:
def dict_conv(arg):
    try:
        bool_val = dict(arg)
        print(f'value is: {arg}     ---> {bool_val}      Type is: {type(bool_val)}')
    except Exception as e:
        print(e)
    
all_vals = [23, 'j', 34.567, 1, 0, True, False, 4+5j, 'Suresh', [2,3], (3,4), {5,6}, {'A': 3, 'B': 4}]

for i in all_vals:
    dict_conv(i)

'int' object is not iterable
dictionary update sequence element #0 has length 1; 2 is required
'float' object is not iterable
'int' object is not iterable
'int' object is not iterable
'bool' object is not iterable
'bool' object is not iterable
'complex' object is not iterable
dictionary update sequence element #0 has length 1; 2 is required
cannot convert dictionary update sequence element #0 to a sequence
cannot convert dictionary update sequence element #0 to a sequence
cannot convert dictionary update sequence element #0 to a sequence
value is: {'A': 3, 'B': 4}     ---> {'A': 3, 'B': 4}      Type is: <class 'dict'>